
@{
    ViewBag.Title = "Hasło zostało zmienione";
}

<div class="passwordchanged-title">
    <h1>Hasło zostało zmienione!</h1>
</div>

<div class="btn btn-passwordchanged btn-block center-block">
    @Html.ActionLink("Wróć", "Index", "Home", null, new { @class = "link-start" })
</div>